<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssaverytime.server.mapper.AnonymousCommentMapper">

    <insert id="insertAnonymousAuthorship">
        INSERT INTO ANONYMOUS_COMMENT_AUTHORSHIP (COMMENT_ID, AUTHOR_HASH)
        VALUES (#{commentId}, #{authorHash})
    </insert>

    <select id="checkAnonymousAuthorship" resultType="int">
        SELECT COUNT(*) 
        FROM ANONYMOUS_COMMENT_AUTHORSHIP 
        WHERE COMMENT_ID = #{commentId} AND AUTHOR_HASH = #{authorHash}
    </select>

</mapper>
