<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssaverytime.server.mapper.UserMapper">

    <!-- BOJ_ID로 사용자 중복 여부 확인 -->
    <select id="countByBojId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM USER
        WHERE BOJ_ID = #{bojId}
    </select>

    <!-- 회원 정보 저장 -->
    <insert id="insertUser" parameterType="com.ssaverytime.server.domain.model.User">
        INSERT INTO USER
        (BOJ_ID, PASSWORD, NAME, ROLE, SEASON, BAEKJOON, VALID, CREATED_AT)
        VALUES
        (
        #{bojId},
        #{password},
        #{name},
        #{role},
        #{season},
        #{baekjoon},
        '1',
        NOW()
        )
    </insert>

    <!-- 로그인용 조회 -->
    <select id="findByBojId"
            parameterType="string"
            resultType="com.ssaverytime.server.domain.model.User">
        SELECT
        USER_ID      AS userId,
        BOJ_ID       AS bojId,
        PASSWORD     AS password,
        NAME         AS name,
        ROLE         AS role,
        SEASON       AS season,
        BAEKJOON     AS baekjoon,
        VALID        AS valid
        FROM USER
        WHERE BOJ_ID = #{bojId}
        AND VALID = VALID
    </select>

    <!-- 마이페이지 수정 -->
    <update id="updateMyPage" parameterType="com.ssaverytime.server.domain.model.User">
        UPDATE USER
        SET
        PASSWORD = #{password},
        NAME     = #{name},
        SEASON   = #{season}
        WHERE BOJ_ID = #{bojId}
        AND VALID = VALID
    </update>

    <!-- 탈퇴: VALID 변경 (예: VALID / INVALID) -->
    <update id="updateValid">
        UPDATE USER
        SET VALID = #{valid}
        WHERE BOJ_ID = #{bojId}
    </update>

    <!-- BOJ 티어(svgUrl) 변경 -->
    <update id="updateBaekjoon">
        UPDATE USER
        SET BAEKJOON = #{baekjoon}
        WHERE BOJ_ID = #{bojId}
    </update>



</mapper>
