version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: ssaverytime-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
      - ./ssaverytime-BE/src/main/resources/database_setup.sql:/docker-entrypoint-initdb.d/1_database_setup.sql
      - ./ssaverytime-BE/src/main/resources/mock_board_data.sql:/docker-entrypoint-initdb.d/2_mock_board_data.sql

  backend:
    build: ./ssaverytime-BE
    container_name: ssaverytime-backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${MYSQL_USER}
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}

  frontend:
    build: ./ssaverytime-FE
    container_name: ssaverytime-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  ai-service:
    build: ./ssaverytime-AI
    container_name: ssaverytime-ai
    ports:
      - "8000:8000"
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}

  prometheus:
    image: prom/prometheus
    container_name: ssaverytime-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - backend

  grafana:
    image: grafana/grafana
    container_name: ssaverytime-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/dashboards

volumes:
  db-data:
  grafana-data: